*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth; 
}
:root{
    --background-color:rgb(5, 10, 48);
    --footer-color:rgb(21, 28, 84);
    --primary-text-color:#ffffff;
    --navbar-name-color:rgb(34 211 238);
    --text-hover:#0d6efd;
    --name-text-color:rgb(127, 96, 238);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}

/* Nav Bar*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0rem;
    width: 100%;
    background-color: var(--background-color);
    z-index: 2;
}
.navbar-name{
    color: var(--navbar-name-color);
    margin: 1rem 1rem .5rem 1rem;
    padding: 1rem;
    border: 2px solid #ffffff;
    border-radius: .5rem;
}
.navbar-name:hover{
    color: var(--text-hover);
}
.nav{
    display: flex;
    margin: 1rem 1rem .5rem 1rem;
    padding: 1rem;
}
.nav-link{
    margin: 1rem;
    padding: .5rem;
    color: var(--primary-text-color);
}
.nav-link:hover{
    color: var(--text-hover);
    background-color: aqu;
    transition: background 3s ease-in-out;
}
.nav-link::after{
    color: var(--text-hover);
}
.menu-icon,mobile-nav {
    display: none;
}
.menu-icon i {
    padding: 1rem 1rem 0rem 1rem;
    font-size: 3.5rem;
    color: var(--primary-text-color);
}
.mobile-nav{
    position: fixed;
    left: -55rem;
    top: 0rem;
    z-index: 10;
    display: flex;
    background-color: var(--background-color);
    width: 65%;
    height: 100%;
    border-right: var(--navbar-name-color) solid .1rem;
    transition: left 0.3s ease-in-out;
}
.open {
    left: 0rem;
}
.nav-list{
    display:block;
    position: relative;
    padding: 1rem 2rem;
    left: 45%;
    transform: translateX(-50%);
    z-index: 10;
}

/* Home */

.home{
    display: flex;
    position: relative;
    padding: .5rem;
}
.home-text{
    padding: 2rem 2.5rem;
    width: 50%;
}
.name-text{
    font-size: 2.5rem;
    margin-left: .5rem;
    padding: 1rem;
}
.name-color{
    color: var(--name-text-color);
}
.intro-text{
    font-size: 1.2rem;
    margin: .5rem;
    padding-left: 1rem;
}
.resume-button{
    margin: 1.5rem 1rem 1.5rem .5rem;
    background: linear-gradient(30deg,purple,purple,blue) ;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    color: var(--primary-text-color);
}
.resume-button:hover {
    background: linear-gradient(30deg, blue, purple, purple);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.resume-button a{
    color: var(--primary-text-color);
    font-size: 1rem;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.connect a{
    margin: .5rem;
    font-size: 2.5rem;
    color: var(--primary-text-color);
}
.connect a:hover{
    color: var(--name-text-color);
    transition: transform 0.5s ease-in-out;
}
.home-image{
    width: 50%;
    padding: 0rem 0rem 5rem 0rem;
}
.home-image img{
    height: 35rem;
    width: 32rem;
    margin-left: 5rem;
}

/* About Section */

.about{
    display: block;
    position: relative;
    padding: 1rem;
}
.about-heading{
    font-size: 2.5rem;
    text-align: center;
    color: var(--name-text-color);
}
.about-content{
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
}
.about-image{
    width: 50%;
}
.image{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    background: url(assets/images/WhatsApp\ img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    left: 20%;
    top: 6rem;
}
.image:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.about-text{
    width: 50%;
    padding: 2rem;
    margin: .5rem;
}
.about-text p{
    font-size: 1rem;
    line-height: 2rem;
}

/* Skill Section */

.skills{
    display: block;
    position: relative;
    padding: 1rem;
}
.skill-heading{
    font-size: 2.5rem;
    text-align: center;
    color: var(--name-text-color);
}
.skill-contant{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    width: 100%;
}
.skill-name{
    display: block;
    margin: 1rem 3.5rem;
}
.skill-name-heading{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.skill-dashboard{
    width: 25rem;
    display: block;
}
.sub-skill{
    width: 25rem;
    display: inherit;
    margin-bottom: 1rem;
}
.sub-skill-name{
    font-size: 1rem;
}
.sub-skill-bar{
    width: 100%;
    height: 1rem;
    background-color: var(--primary-text-color);
    border-radius: .2rem;
}
.sub-skill-bar-fill{
    background-color: red;
    height: 100%;
    border-radius: .2rem;
    background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
    animation: process 5s linear 1;
}

/* Project section */

.projects{
    display: block;
    position: relative;
    padding: 1rem;
    margin-top: 2rem;
}
.project-heading{
    font-size: 2.5rem;
    text-align: center;
    color: var(--name-text-color);
    margin-bottom: .5rem;
}
.project-content{
    margin-top: 1.5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.card{
    margin: 1rem;
    width: min(300px, 450px);
    background-color: #fefefe;
    border-radius: 1rem;
    padding: 0.5rem;
    color: #141417;
}
.card-hero{
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 1rem;
}
.card-hero .card-job-title{
    margin: 2rem 0;
    padding-right: 2rem;
}
.card-hero-header{
    overflow: hidden;
    border-radius: 0.5rem;
    background-size:cover;
    height: 200px;
    width: 100%;
}
.card-hero-header img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
}
.card-btn{
    width: 40%;
    height: 2rem;
    cursor: pointer;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #141417;
    font-size: 1rem;
}
.card-btn a{
    color: var(--primary-text-color);
    padding: .3rem;
    height: 100%;
    text-decoration: none;
    width: 100vw;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 3;
}
.arrow {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    outline: none;
}
.dots {
    display: none;
    gap: 0.5rem;
    position: absolute;
    bottom: 1rem;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
}
.active {
    background-color: #333;
}

/* Education Section */

.education{
    margin-top: 2rem;
    position: relative;
    display: block;
    padding: 1rem;
}
.education-heading{
    font-size: 2.5rem;
    text-align: center;
    color: var(--name-text-color);
    margin-bottom: .5rem;
}
.education-contant{
    display: flex;
    padding: 0rem 1rem;
}
.education-history{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0rem 1rem;
}
.education-level{
    display: block;
    border: 2px solid var(--text-hover);
    border-radius: .3rem;
    margin: 1rem;
    padding: 1rem;
}
.education-level-heading{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .1rem;
    color: var(--navbar-name-color);
}
.education-level-contant{
    display: flex;
    justify-content: space-around;
}
.education-level-contant-img {
    font-size: 3.5rem;
}
.education-level-contant-text{
    padding: 1rem;
    font-size: 1rem;
}
.lightdark-color{
    color: rgb(81, 83, 83);
    padding-left: 1rem;
}
.education-img{
    width: 50%;
    height: 100%;
    background-size: cover;
    margin-left: 2rem;
}

/* Connect Section */
.connect{
    margin-top: 2rem;
    position: relative;
    display: block;
    padding: 1rem;
}
.connect-heading{
    font-size: 2.5rem;
    text-align: center;
    color: var(--name-text-color);
    margin-bottom: .5rem;
}
.connect-contant{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    width: 100%;
}
.connect-contant-input{
    position: relative;
    display: grid;
    width: 100%;
    height: auto;
}
form{
    display: grid;
    width: 100%;
}
.input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    margin: 1rem 1rem;
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: 1rem;
}
.message{
    height: 5rem;
}
input::placeholder {
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea::placeholder {
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    margin: 1rem .2rem;
    border: none;
    border-radius: 2rem;
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(30deg,purple,purple,blue) ;
    color: var(--primary-text-color);
    cursor: pointer;
}
.form-button:hover {
    background: linear-gradient(30deg, blue, purple, purple);
    transition: all 0.5s ease-in-out;
}

/* Footer */
.footer{
    background-color: var(--footer-color);
    width: 100%;
    height: 7rem;
    color: var(--primary-text-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

/* Key Frames */

@keyframes process {
    0%{
        width: 0rem;
    }
  }

/* Responsive Design for Small Screens */
@media (max-width: 686px){
    html {
        scroll-padding-top: 70px;
        scroll-behavior: smooth; 
    }
    .body{
        overflow-x: hidden;
    }
    .nav {
        display: none;
        flex-direction: column;
        background-color: var(--background-color);
    }
    .active {
        display: flex;
    }
    .menu-icon{
        display: flex;
        padding: .3rem;
        cursor: pointer;
        z-index: 3;
    }
    .menu-icon img{
        width: 100%;
        height: 80%;
    }
    .nav-link{
        display: block;
        margin: 3rem;
    }
    .home{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .home-text{
        width:100%;
        padding: 0rem;
    }
    .home-image{
        width: 100%;
        padding: 1rem 0rem 0rem 0rem;
    }
    .home-image img{
        height: 35rem;
        width: 100%;
        margin-left: 0rem;
    }
    .about-content{
        flex-wrap: wrap;
        margin: 0rem;
        justify-content: center;
        padding: 0rem;
    }
    .about-text{
        width: 100%;
        margin-top: 5rem;
        padding: 0rem;
    }
    .about-image{
        width: 100%;
    }
    .image{
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .image:hover{
        transform: scale(1);
        left: 50%;
        transform: translateX(-50%);
    }
    .about-text p{
        text-align:center;
    }
    .skill-contant{
        padding: 0rem;
        width: 100%;
    }
    .skill-name{
        text-align: start;
    }
    .skill-name-heading{
        text-align: center;
    }
    .skill-dashboard{
        width: 100%;
    }
    .sub-skill{
        width: 15rem;
    }
    .project-content{
        flex-wrap: wrap;
    }
    .cards-container{
        transition: transform 0.5s ease-in-out;
        width: calc(100% + 50px);
        padding: 0 20px;
        flex-wrap: nowrap;
    }
    .arrows {
        display: flex;
        top: 40%;
    }
    .dots {
        display: flex;
        bottom: 0.5rem;
    }
    .education-history{
        width: 100%;
        padding: 0rem;
    }
    .education-level{
        width: 100%;
    }
    .education-level-contant{
        display: flex;
        justify-content: space-between;
    }
    .education-img{
        position: relative;
        right: 100rem;
        width: 0%;
    }
    .connect-contant{
        padding: 1rem 0rem;
    }
    .input{
        padding: 1rem;
        margin: 1rem 1rem;
        width: 70%;
    }
}